.env

__pycache__/
*.pyc
*.pth

data/visdrone_converted/
data/dataset/train/videos/
data/dataset/train/images_det/

data/runs/detect/train*/weights/
data/runs/detect/*/weights/

runs/
runs/detect/
dataset/
datasets/
wandb/

collision_dataset/
Drone Crash Avoidance.v7-v7.yolov11/

*.zip
*.rar
*.tar.gz
